.post-type-selection{
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
}

.post-type-selector{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.active{
    font-weight: 700;
}

.profile-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 10px;
    height: fit-content;
}

.cell{height: 250px; cursor: pointer;}

.cell>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.show-post{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
}

.post-con{
    width: fit-content;
    height: fit-content;
    background: white;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close{
    position: absolute;
    right: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}